<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/map">Map</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">gitNgclose</h3>
</div>

<div class="row marketing">
  <h4>This is where the map will go</h4>
  <map id="map"></map>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>
</div>
<div class="row marketing">

  <h4>Buttons will go here</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

</div>

<div class="footer">
  <p>♥ By Brooke Casey changes</p>
</div>
